.group-list{
  .group-div{
    li{
      text-align: center;
    }
    background-color: rgb(136, 189, 125);
    border: 1px rgb(216, 216, 216) solid;
    width: 250px;
    border-radius: 0.2rem;
  }
}